// =============================================================================
// Registers & status display window for the ATMega168 "TIMER0" class peripheral
//
// AMCTools, VMLAB 3.14D test release June-09
// Compile with any standard Win32 resources tool
// =============================================================================

#define IS_PERIPHERAL
#include "C:\VMLAB\bin\blackbox.h"

// Syntax to add/modify new controls
// *********************************
//
// CONTROL <text>, <gadget ID>, <class>, <styles>, <left>, <top>, <width>, <height>
//
//    <text>: Any text; this will be displayed in the control (if applies).
//    <gadget ID>: A value, GADGET0 to GADGET31, or -1 for non-modifiable controls
//       (decorations, texts, etc)
//    <class>: A Win32 standard control class name: "button", "static", "listbox", etc.
//       or... own custom-class name (for advanced Win32 users)
//    <styles>: A valid Win32 attribute/style for the control.
//    <left>, <top>, <width>, <height>: Coordinates in dialog units (not pixels!)


// Register displays must be always be coded with the "WORD_8_VIEW_c" class name.
//
WINDOW_USER_1 DIALOG 0, 0, WIDTH, 63
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 CONTROL "", EXPAND_FRAME, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 0, WIDTH - 6, 60
 CONTROL "", EXPAND_BUTTON, "button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE, 7, 0, 8, 8

 CONTROL "%", GADGET1 + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 13, 28, 8
 CONTROL "", GADGET1, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 34, 12, 42, 10
 CONTROL "%", GADGET2 + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 13, 28, 8
 CONTROL "", GADGET2, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 106, 12, 42, 10
 CONTROL "%", GADGET3 + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 25, 28, 8
 CONTROL "", GADGET3, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 34, 24, 42, 10
 CONTROL "", GADGET4, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 106, 24, 42, 10
 CONTROL "%", GADGET4 + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 25, 25, 8
 CONTROL "", GADGET5, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 106, 36, 42, 10
 CONTROL "%", GADGET5 + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 37, 24, 8
 CONTROL "Clock:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 49, 28, 10
 CONTROL "?", GADGET6, "static", WS_CHILD | WS_VISIBLE, 26, 49, 50, 10
 CONTROL "Mode:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 37, 28, 10
 CONTROL "?", GADGET7, "static", WS_CHILD | WS_VISIBLE, 26, 37, 50, 10
 CONTROL "$??", GADGET8, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_DISABLED, 149, 24, 15, 10
 CONTROL "$??", GADGET9, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_DISABLED, 149, 36, 15, 10
 CONTROL "Top:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 49, 17, 10
 CONTROL "?", GADGET12, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 96, 49, 22, 10
 CONTROL "Log", GADGET11, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 137, 49, 25, 8
 CONTROL "BUF", GADGET10, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 149, 13, 16, 8
}

