// =============================================================================
// Component Name: ATMega168 "TIMER2" peripheral.
//
// Copyright (C) 2009 Advanced MicroControllers Tools (http://www.amctools.com/)
// Copyright (C) 2009 Wojciech Stryjewski <thvortex@gmail.com>
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation; either version 2.1 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
//
// =============================================================================

#include <windows.h>
#include <commctrl.h>
#define IS_PERIPHERAL 1
#ifndef RC_INVOKED
#define RC_INVOKED 1
#endif
#include <blackbox.h>  // File located in <VMLAB install dir>/bin
#include "version.h"
#include "timer2_168.h"

// Syntax to add/modify new controls
// *********************************
//
// CONTROL <text>, <gadget ID>, <class>, <styles>, <left>, <top>, <width>, <height>
//
//    <text>: Any text; this will be displayed in the control (if applies).
//    <gadget ID>: A value, GADGET0 to GADGET31, or -1 for non-modifiable controls
//       (decorations, texts, etc)
//    <class>: A Win32 standard control class name: "button", "static", "listbox", etc.
//       or... own custom-class name (for advanced Win32 users)
//    <styles>: A valid Win32 attribute/style for the control.
//    <left>, <top>, <width>, <height>: Coordinates in dialog units (not pixels!)


// Register displays must be always be coded with the "WORD_8_VIEW_c" class name.
//
WINDOW_USER_1 DIALOG 0, 0, WIDTH, 75
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 CONTROL "", EXPAND_FRAME, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 0, WIDTH - 6, 72
 CONTROL "", EXPAND_BUTTON, "button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE, 7, 0, 8, 8

 CONTROL "", GDT_TCCRnA + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 13, 28, 8
 CONTROL "", GDT_TCCRnA, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 34, 12, 42, 10
 CONTROL "", GDT_TCNTn + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 13, 28, 8
 CONTROL "", GDT_TCNTn, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 106, 12, 42, 10
 CONTROL "", GDT_TCCRnB + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 25, 28, 8
 CONTROL "", GDT_TCCRnB, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 34, 24, 42, 10
 CONTROL "", GDT_OCRnA, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 106, 24, 42, 10
 CONTROL "", GDT_OCRnA + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 25, 25, 8
 CONTROL "", GDT_OCRnB, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 106, 36, 42, 10
 CONTROL "", GDT_OCRnB + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 37, 24, 8
 CONTROL "", GDT_ASSR, "WORD_8_VIEW_c", WS_CHILD | WS_VISIBLE, 34, 36, 42, 10 
 CONTROL "", GDT_ASSR + 100, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 37, 28, 8 

 CONTROL "Clock:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 61, 28, 10
 CONTROL "?",   GDT_CLOCK, "static", WS_CHILD | WS_VISIBLE, 26, 61, 52, 10
 CONTROL "Mode:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 49, 28, 10
 CONTROL "?",   GDT_MODE, "static", WS_CHILD | WS_VISIBLE, 26, 49, 50, 10
 CONTROL "$??", GDT_BUFA, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_DISABLED, 149, 24, 15, 10
 CONTROL "$??", GDT_BUFB, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_DISABLED, 149, 36, 15, 10
 CONTROL "Top:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 61, 17, 10
 CONTROL "?",   GDT_TOP, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 96, 61, 22, 10
 CONTROL "Log", GDT_LOG, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 61, 25, 8
 CONTROL "BUF", GDT_BUF, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 149, 13, 16, 8
 CONTROL "Async Corrupt", GDT_CRPT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 49, 60, 8
}

// Info displayed under "Version" tab in Windows Explorer. Due to a serious bug
// in the Borland RC compiler, all values must end with an explicit NULL.
1 VERSIONINFO
FILEVERSION       MCULIB_FILEVERSION
PRODUCTVERSION    MCULIB_PRODUCTVERSION
FILEOS            VOS__WINDOWS32
FILETYPE          VFT_DLL
{
   BLOCK "StringFileInfo"
   {
      BLOCK "040904E4"
      {
         VALUE "CompanyName",      "Advanced MicroControllers Tools, Wojciech Stryjewski\0"
         VALUE "FileDescription",  "ATmega168 TIMER2 Peripheral\0"
         VALUE "FileVersion",      MCULIB_FILEVERSION_STR
         VALUE "InternalName",     "TIMER2\0"
         VALUE "LegalCopyright",   "2009-2010, GNU LGPL v2.1+\0"
         VALUE "OriginalFilename", "timer0_168.dll\0"
         VALUE "ProductName",      "VMLAB\0"
         VALUE "ProductVersion",   MCULIB_PRODUCTVERSION_STR
      }
   }
   BLOCK "VarFileInfo" { VALUE "Translation", 0x0409 0x04E4 }
}
